@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}

.background{
    background-color:cornflowerblue;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    color: white;
}
