@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: auto;
}

:root{
    --primary-color:#FF6363;
    --secondary-color:brown;
}
.border{
 border: 2px solid black;
}

.font-size{
    padding-left: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
.lg-size{
    font-size: larger;
}
.background{
    background-color: var(--primary-color);
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 800px;
    margin: auto;   
}
.link{
    text-decoration: none;
    padding: 0.5rem 0.3rem;
}
.primary-link{
    color: white;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    
}
.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid;
    padding: 0.5rem 1rem;
}
hr{
    margin: 1rem 0rem;
}
.list-non-bullets{
list-style: none;
}
.list-inline{
    display: inline;
    padding: 0rem 1rem;
}
.list-inline-footer{
    display: inline;
    padding: 0rem 0.2rem;
}
.text-decoration{
    text-decoration: underline;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 3rem;
    padding: 0.2rem;
    
}
.navigation .link{
    color: white;
}
.navbar-items{
    text-align: right;
}
.img{
    width: 600px;
    height: 300px;
    display: block;
    margin: auto; 
}
.center{
    text-align: center;
}
.link-active{
    text-decoration: underline;
    
}
.header-color{
    color: var(--primary-color);
}
.off-white-section{
    background-color: #F3F4F6;
    padding-bottom: 1.2rem;
    border-radius: 2rem;
    
}
section h3{
    text-align: center;
    padding: 1rem;
}
section a:hover{
    font-size: 1.1rem;
}
footer a:hover{
    font-size: 1.4rem;
    color: rgb(19, 18, 18);
}

.footer{
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    text-align: center;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin: 0rem 1rem ;
}
footer .link{
    color: white;
}
.padding-bottom{
    padding-bottom: 2rem;
}
.margin-bottom{
    margin-bottom: 1rem;
}
.large-margin-bottom{
    margin-bottom: 6rem;
}

@media (max-width:900px){
    .sm-size{
        font-size: small;
    }
    .img{
        width: 300px;
        height: 200px;
    }
    .section{
        margin: 0.4rem 0.6rem;
    }
    section a:hover{
        font-size: 1rem;
    }
}







